{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}
{% block title %} URL Shortener{% endblock %}
{% block body %}
<section class="form-container">
    <form method="POST" action="/create_url">
        <div class="form-header">URL SHORTENER</div>
        <div class="input-container">
            <label for="url">Url</label>
            <input class='form-input' type="url" name="url" required>
        </div>
        <div class="input-container">
            <label for="code">Short Name</label>
            <input class='form-input' type="text" name="code" required>
        </div>
        <button class="form-footer" type="submit">Shorten</button>

    </form>
</section>
{% endblock %}